# Data Structures

In [132]:
L = [1,3,4.9,"name,3"]                  # List              Ordered,     changeable,         duplicates
T = (1,3,4.9,"name,3")                  # Tuple             Ordered,     unchangeable,       duplicates
S = {1,3,4.9,"name",3}                  # Set               Unordered,   addable/removalble, no duplicates
D = {23:"twothreee",'B':43,"C":45.9}    # Dictionary        Unordered,   changeable,         no duplicates

In [98]:
print(type(L))
print(type(T))
print(type(S))
print(type(D))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [99]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

3
3
True
twothreee

In [100]:
print(S) # There is no 3 at the end; it is because Set doesnot take repetative values.

{1, 3, 4.9, 'name'}

### List and Tupple similarities with String in [ : : :]

In [101]:
print(L)

[1, 3, 4.9, 'name,3']

In [102]:
L[1:3]

[3, 4.9]

In [103]:
L[::-1] # Reverse List

['name,3', 4.9, 3, 1]

In [104]:
T[:3]

(1, 3, 4.9)

List and Tupple has the same process of this with the String

## Add

In [105]:
print(L)

[1, 3, 4.9, 'name,3']

In [ ]:
L = L + ["game"]
L[2] = ["orange"]
print(L)

In [129]:
L.append('GGG')
print(L)

[1, 3, 'name,3', 'game', 'GGG']

In [107]:
print(T)

(1, 3, 4.9, 'name,3')

The values inside Tupple is unchangeable

In [130]:
T2 =(1,2,3)
T3 = T +T2
print(T3)

(1, 3, 4.9, 'name,3', 1, 2, 3)

In [109]:
print(S)

{1, 3, 4.9, 'name'}

In [110]:
S.add("banana") # add one item
print(S)

{1, 3, 4.9, 'name', 'banana'}

In [111]:
S.update({"one item",'two item'}) # add more than one items 
print(S)

{1, 3, 4.9, 'name', 'banana', 'one item', 'two item'}

In [133]:
print(D)

{23: 'twothreee', 'B': 43, 'C': 45.9}

In [134]:
D[24]=45
print(D)

{23: 'twothreee', 'B': 43, 'C': 45.9, 24: 45}

## Delete

In [114]:
print(L)

[1, 3, ['orange'], 'name,3', 'game']

In [115]:
del L[2]
# del L
print(L)

[1, 3, 'name,3', 'game']

In [116]:
# There is no delete for items in Tupple
# Only del T is available

In [125]:
print(S)

{1, 3, 4.9, 'name', 'banana', 'one item', 'two item'}

In [127]:
S.remove(1)
# del S
print(S)

{3, 4.9, 'name', 'banana', 'one item', 'two item'}

In [122]:
print(D)

{23: 45, 'B': 43, 'C': 45.9}

In [135]:
del D[23]
# del D
print(D)

{'B': 43, 'C': 45.9, 24: 45}

In [137]:
D2={1:2,2:3}
D3=D+D2
print(D3) # We cannot add two dictionaries together

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [140]:
D.update(D2) # But we cann add Dictionary by using Update function instead as it is like a Set 
print(D)

{'B': 43, 'C': 45.9, 24: 45, 1: 2, 2: 3}

## Copy

When a variable is equaled to another variable in the python; it does not copy the value of the first variable to the second variable; instead the second variable will point to the same memory of the first variable. So, when the second variable changes the first variable changes too. That is also why we need a separate function to copy and really copy the variable to tinker on the second variable and not affect the first variable

In [142]:
L2 = L.copy()
print(L)
print(L2)

[1, 3, 4.9, 'name,3']
[1, 3, 4.9, 'name,3']

In [143]:
L2[2]=5
print(L2)
print(L)

[1, 3, 5, 'name,3']
[1, 3, 4.9, 'name,3']

In [144]:
S2 = S.copy()
print(S)
print(S2)

{1, 3, 4.9, 'name'}
{1, 3, 4.9, 'name'}

In [145]:
D2 = D.copy()
print(D)
print(D2)

{'B': 43, 'C': 45.9, 24: 45, 1: 2, 2: 3}
{'B': 43, 'C': 45.9, 24: 45, 1: 2, 2: 3}

We cannot change inside the value of Tople. So, we actually do not need the copy of the Tople as it will get us nothing

## Slicing

In [146]:
print(L)

[1, 3, 4.9, 'name,3']

In [148]:
L3 = L[1:2] # Here, When L is sliced, L3 is completely new list; so L3 copies the list instead of referencing to L
print(L3)

[3]

##### We will later learn that; in NumPy the Slicing will actually refer to the L; so when L3 is changed L changes too. This is a difference between normal Python operation and NumPy

#### Use L.(Tab), T.(Tab) etc. to look into more functions of Lists, Topple, Set, Dictionary