## For Loop

In [1]:
L = ['apple','ball','cat','dog']
for item in L:
    print(item)

apple
ball
cat
dog

In [2]:
range(5),range(1,100),sum(range(100))

(range(0, 5), range(1, 100), 4950)

In [5]:
L=[]
for i in range(10):
    L.append(10*i)
    print(L)
print(L)

[0]
[0, 10]
[0, 10, 20]
[0, 10, 20, 30]
[0, 10, 20, 30, 40]
[0, 10, 20, 30, 40, 50]
[0, 10, 20, 30, 40, 50, 60]
[0, 10, 20, 30, 40, 50, 60, 70]
[0, 10, 20, 30, 40, 50, 60, 70, 80]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [8]:
D={}  # Nested Loop using Dictionart
for i in range(5):
    for j in range(5):
        if i==j:
            D.update({(i,j) :100*i+j})
        elif i!= j:
            D.update({(i,j) :10*i+j})
print(D)

{(0, 0): 0, (0, 1): 1, (0, 2): 2, (0, 3): 3, (0, 4): 4, (1, 0): 10, (1, 1): 101, (1, 2): 12, (1, 3): 13, (1, 4): 14, (2, 0): 20, (2, 1): 21, (2, 2): 202, (2, 3): 23, (2, 4): 24, (3, 0): 30, (3, 1): 31, (3, 2): 32, (3, 3): 303, (3, 4): 34, (4, 0): 40, (4, 1): 41, (4, 2): 42, (4, 3): 43, (4, 4): 404}

In [3]:
# To iterate two elements from two separate Lists
for item,j,k in zip(['apple','banana','cat','cellphone','pen'],range(5),[12,43,54,67,34]): 
    print (item,"|",j,"|","k")

apple | 0 | k
banana | 1 | k
cat | 2 | k
cellphone | 3 | k
pen | 4 | k

In [4]:
zip?

In [5]:
enumerate?

In [8]:
# To iterate and enumerate both together.
for i,item in enumerate(['apple','ball']):
    print(i,item)

0 apple
1 ball

In [17]:
#To create a list with for loop
A = [[10*k**2+5*y+1 for k in range(3)] for y in range(4)]
A

[[1, 11, 41], [6, 16, 46], [11, 21, 51], [16, 26, 56]]

In [18]:
# To iterate over list of list
for i in range(4):
    for j in range(3):
        print("The","(",i,",",j,")","th element is",A[i][j])

The ( 0 , 0 ) th element is 1
The ( 0 , 1 ) th element is 11
The ( 0 , 2 ) th element is 41
The ( 1 , 0 ) th element is 6
The ( 1 , 1 ) th element is 16
The ( 1 , 2 ) th element is 46
The ( 2 , 0 ) th element is 11
The ( 2 , 1 ) th element is 21
The ( 2 , 2 ) th element is 51
The ( 3 , 0 ) th element is 16
The ( 3 , 1 ) th element is 26
The ( 3 , 2 ) th element is 56

In [20]:
#While Loop
i = 0
while i <5:
    print(i, "th turn")
    i = i+1

0 th turn
1 th turn
2 th turn
3 th turn
4 th turn

In [21]:
# To break for loop implementing if conidition
for i in range(10):
    print(i)
    if i ==3:
        break

0
1
2
3

In [23]:
#To test the if conditions
import random
for i in range(10):
    r = random.uniform(1,6)
    if r<2 and r>0:
        print("Smaller than 2 and greater than 0","|",r)
    elif r<4 and r>2:
        print("Smaller than 4 and greater than 2","|",r)
    elif r<6 and r>4:
        print("Smaller than 6 and greater than 4","|",r)

Smaller than 2 and greater than 0 | 1.6014751503485134
Smaller than 4 and greater than 2 | 2.5341760094499572
Smaller than 6 and greater than 4 | 5.569132464194342
Smaller than 4 and greater than 2 | 2.56699508287669
Smaller than 4 and greater than 2 | 2.40948975434146
Smaller than 4 and greater than 2 | 2.8785369207841285
Smaller than 6 and greater than 4 | 5.570990147231495
Smaller than 2 and greater than 0 | 1.4082461267229536
Smaller than 4 and greater than 2 | 3.612805125993949
Smaller than 4 and greater than 2 | 3.8190445033172877

In [24]:
random.uniform?

In [32]:
#To find sum from 0 to 1000
s = 0
for i in range(1000+1):
    s = s+i
s

500500

In [33]:
range(10+2)

range(0, 12)

In [34]:
#To find sum from 0 to 1000(even only)
s=0
LE=[]
for i in range(1001):
    if i%2==0:
        LE.append(i)
        s=s+i
s, sum(LE)

(250500, 250500)