In [1]:
import json as json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random as random
%matplotlib inline

In [2]:
#mkdir newfolder

In [2]:
mkdir data

A subdirectory or file data already exists.

In [3]:
with open('data/text.txt', 'w') as file:
    for k in range(100):
        file.write("it is your" + str(k) + "th turn! \n")

In [4]:
txtfile = open("data/text.txt", 'w')

In [5]:
for i in range(1000):
    '''chech even or odd'''
    if i%2 ==0:
        txtfile.write(str(i)+"|It is even \n")
        
        '''check above or below 500'''
        if i<500:
            txtfile.write(str(i) + "|It is below 500 \n")
        else:
            txtfile.write(str(i) + "|It is above 500 \n")

    else:
        txtfile.write(str(i) + "|It is odd \n")
        '''check above or below 500'''
        if i<500:
            txtfile.write(str(i) + "|It is below 500 \n")
        else:
            txtfile.write(str(i) + "|It is above 500 \n")
txtfile.close()

In [8]:
with open('data/text.txt','r') as f:
    i = 0
    for line in f:
        print(line)
        if i >12:
            break
        i = i+1

0|It is even

0|It is below 500

1|It is odd

1|It is below 500

2|It is even

2|It is below 500

3|It is odd

3|It is below 500

4|It is even

4|It is below 500

5|It is odd

5|It is below 500

6|It is even

6|It is below 500

## JSON file

In [9]:
Data = []
for k in range(1000):
    Data.append({"x": np.random.uniform(0,10),\
                "y": np.random.uniform(0,10),\
                "z": np.random.uniform(0,10)})

In [14]:
Data[101:105]

[{'x': 8.846878541434469, 'y': 0.9100902536206412, 'z': 4.311493259117528},
 {'x': 0.03880881089774468, 'y': 9.282279167206053, 'z': 5.363032700959395},
 {'x': 6.11376715402805, 'y': 2.240259118887743, 'z': 8.612852853987375},
 {'x': 1.144454615497017, 'y': 6.930250489512382, 'z': 4.280892588175947}]

In [15]:
mkdir data

A subdirectory or file data already exists.

In [16]:
with open("data/sample_data.json", 'w') as f:
    json.dump(Data,f)

In [17]:
with open("data/sample_data.json", 'r') as f:
    uploaded_data = json.load(f)

In [18]:
uploaded_data[0:2]

[{'x': 8.964258055863658, 'y': 7.324761700200089, 'z': 0.02409740596417076},
 {'x': 2.604872447178707, 'y': 5.217801203083596, 'z': 1.7845944368721411}]

## CSV file

In [20]:
DF = pd.DataFrame(Data)
DF.head()

          x         y         z
0  8.964258  7.324762  0.024097
1  2.604872  5.217801  1.784594
2  8.746483  4.315208  9.764050
3  0.967390  8.072818  3.484379
4  4.308542  5.383924  6.937674

In [21]:
DF.to_csv('data/sampledata.csv')

In [23]:
uploaded_data = pd.read_csv("data/sampledata.csv")

In [24]:
uploaded_data.head()

   Unnamed: 0         x         y         z
0           0  8.964258  7.324762  0.024097
1           1  2.604872  5.217801  1.784594
2           2  8.746483  4.315208  9.764050
3           3  0.967390  8.072818  3.484379
4           4  4.308542  5.383924  6.937674